body{
    margin: 0px;
    padding: 0px;
}
.background {
    fill: none;
    pointer-events: all;

}
svg{
    border: 1px solid #e5e5e5;
}
.feature {
    /*  fill: #ccc;*/
    cursor: pointer;
}
path .active{
    fill: orange;
}
.feature:hover{
    opacity: 0.5;
}
.feature.active {
    fill: orange;
}
.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}
/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    width: 160px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 99999;
}
.colorRange{
    height: 20px;
    display: inline-block;
    width: 200px;
    position: relative;
    background: -webkit-linear-gradient(left,#a90c38, #c6e3f4, #a5cbe5, #86b5d7, #5586b2, #416f9d,#2e5a87); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left,#a90c38, #c6e3f4, #a5cbe5, #86b5d7, #5586b2, #416f9d,#2e5a87); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left,#a90c38, #c6e3f4, #a5cbe5, #86b5d7, #5586b2, #416f9d,#2e5a87); /* Firefox 3.6 - 15 */
    background: linear-gradient(left,#a90c38, #c6e3f4, #a5cbe5, #86b5d7, #5586b2, #416f9d,#2e5a87); /* 标准的语法 */
}
#left_color_size{
    display: inline-block;
    position: absolute;
    left: 0px;
    top:21px;
}
#right_color_size{
    display: inline-block;
    position: absolute;
    right: 0px;
    top:21px;
}
p{
    margin: 5px 0px;
}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
    visibility:hidden ;
    background: white;
    transition-duration: 0.3s;
    transform: translate(50%);
}
.left{
    transition: all 0.3s;
    transform: translate(-50%);
    transition-duration: 0.3s;
}
.right{

}
#prev{
    position: absolute;
    top:50%;
    left: 30px;
    z-index: 999;
    display: block;
    cursor: pointer;
    font-size: 43px;
}
#next{
    position: absolute;
    top:50%;
    right:30px;
    z-index: 999;
    display: block;
    cursor: pointer;
    font-size: 43px;
}
.active{
    z-index:99;
    transition: all 2s;
    visibility: visible;
    transform: translate(0);
}
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}
.arc path {
    stroke: #fff;
}
.radio{
    text-align: center;
}
.row{
    text-align: center;
}